body {
	background: #f8f8f8;
	margin: 0px;
	padding: 0px;
}
.artboard {
	width: 100%;
	height:100vh;
	margin:0px;
	background: #0f0c29;
	/* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #002130,#2ECBFF);
	/* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #002130,#2ECBFF);
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
h1,h2,h4{
	font-family: 'Vollkorn';
	font-size: 100px;
	margin: 0px;
	font-weight: bold;
	background-image: linear-gradient( to right, #cb9b51 22%, #f6e27a 45%, #f6f2c0 50%, #f6e27a 55%, #cb9b51 78%);
	color: transparent;
	-webkit-background-clip: text;
  text-align: center;
}
h4{
  margin:0px;
  font-size: 20px;
  padding:0px;
  margin-top: -22px;
}
h2{
  font-size: 1.5rem;
  padding: 20px;
}
.Order{
  font-family: 'Vollkorn';
  font-weight: bold;
  color: #F8F8F8;
  font-size: 1.2rem;
}
#Question{
  font-size: 2.2rem;
}
.Emoji{
  width: 170px;
  height: 170px;
}
#Neutral,#Agree{
  margin-top: -30px;
}
#Emoji-Row{
	display: flex;
  justify-content: center;
}
#No:hover{
  content:url('https://docs.google.com/uc?export=download&id=1q-pb3kDMV2gi-_4uSWzogxopU5dyU84Y');
}
#OK:hover{
  content:url('https://docs.google.com/uc?export=download&id=1kMHLFmW_vg1An8zP5F1EonNMQuaktf9j');
}

#Neutral:hover{
  content:url('https://docs.google.com/uc?export=download&id=1KrHdk7XKaE4weXWyNueGjYQy-U0EeKZ3');
}
#Agree:hover{
  content:url('https://docs.google.com/uc?export=download&id=1NLbrjmBJUX52FNqJ-8jZeCg2N_d1OKaK');
}
#Super:hover{
  content:url('https://docs.google.com/uc?export=download&id=1LvSKdOkQuTytxabBfBSdUW5NNIpbw4it');
}
#Extreme:hover{
  content:url('https://docs.google.com/uc?export=download&id=1eF37clowI1bx5ffS3ls3oeioKrxXc7ZL');
}
#preload{
	display: none;
}
#Reaction{
  border-radius: 25px;
}
#Logo{
  width:150px;
  height:150px;
	padding-left: 10%;
	margin-top:-120%;
}

#Comment{
  margin-top:-40px !important;
}

/*-----(button)----*/
#Progress{
  display: flex;
  justify-content: center;
  padding: 0px;
  text-align: center;
}
.asnwer button{
	border: none;
	border-radius: 25px;
	outline: none;
}
.Page:hover{
	background-color: #FFD200;
}
.Page{
  width: 70px;
  padding: 0px;
  height: 10px;
}

.Arrow{
	border-radius: 10px;
	border: 2px solid #f8f8f8;
	font-family: 'Vollkorn';
	font-size: 1.5rem;
	color: #f8f8f8;
	text-transform: uppercase;
	padding: 5px;
	padding-right: 20px;
	padding-left: 20px;
	background-color: #FFD200;
}
#Next{
	margin-left: 40px;
	padding-left: 30px;
}
#Back{
	margin-right: 40px;
	padding-left: 20px;
}
/*Introduction*/
#QNo{
	margin-top: 45px;
	grid-area: qno;
}
#QNo h1{
	font-family:'Lobster';
	font-size: 29rem;
	padding:0px;
	margin: 0px;
	background-image: linear-gradient( to right, #cb9b51 22%, #f6e27a 45%, #f6f2c0 50%, #f6e27a 55%, #cb9b51 78%);
	color: transparent;
	-webkit-background-clip: text;
	text-align: center;
}
#QNo h2{
	margin:-100px;
	background-image: linear-gradient( to right, #cb9b51 22%, #f6e27a 45%, #f6f2c0 50%, #f6e27a 55%, #cb9b51 78%);
	color: transparent;
	-webkit-background-clip: text;
	text-align: center;
	font-family: 'Vollkorn';
	margin-top: -120px;
	font-size: 3rem;
}
#QExplain{
	grid-area: explain;
}
#QTitle{
	font-family: 'Bebas Neue';
	font-size: 6rem;
	line-height: 5rem;
	text-align: justify;
	width: 100%;
	margin-top: 120px;
	background-image: linear-gradient( to right, #cb9b51 22%, #f6e27a 45%, #f6f2c0 50%, #f6e27a 55%, #cb9b51 78%);
	color: transparent;
	-webkit-background-clip: text;
	text-align: center;
}
#QDesc{
	max-width: 100%;
	max-height:280px;
	font-family: 'Vollkorn';
	font-size: 1.3rem;
	text-align:justify;
	color:#DEBB63;
	font-weight: bolder;
	overflow-y: scroll; /* Add the ability to scroll */
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
}
#QEnter{
	border: none;
	border-radius: 15px;
	padding:5px;
  border: none;
  background-color: #6C63FF;
	font-family: "Bebas Neue";
	color:#f8f8f8;
	background-color: #DEBB63;
	font-size:2rem;
	outline: none;
	padding:10px;
	width: 100%;
}
#QEnter:hover{
	color: #002130
}
#QDesc{
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
}
#QDesc::-webkit-scrollbar {
	display: none;
}
.Intro{
	grid-template-areas:'qno explain';
	grid-template-columns: max-content,min-content;
	height: 100vh;
	grid-gap: 5px;
	grid-template-columns: 30% 60%;
}
@media only screen and (min-width: 500px) and (max-width: 1000px) {
	#QTitle{
		font-size: 2.5rem;
		margin-top: 40px;
		line-height: 2rem;
		text-align: center;
		width: 100%;
	}
	#QNo{
		margin-top: 10px;
	}
	#QNo h1{
		font-family:'Lobster';
		font-size: 15rem;
		margin-top: 5px;
	}
	#QNo h2{
		margin-top: -60px;
		font-size: 1.5rem;
	}
	#QDesc{
		font-size: 0.8rem;
		max-height:140px;
	}
	#QEnter{
		border: none;
		border-radius: 15px;
		padding:5px;
	  border: none;
	  background-color: #6C63FF;
		font-family: "Bebas Neue";
		color:#f8f8f8;
		background-color: #DEBB63;
		font-size:1rem;
		letter-spacing: 2px;
		outline: none;
		padding:5px;
		width: 100%;
	}

}
@media only screen and (min-width: 1000px) and (max-width: 1200px) {
	#QTitle{
		font-size: 4.6rem;
		line-height: 3.8rem;
	}
	#QDesc{
		font-size: 1.5rem;
		max-height: 230px;
	}
}
